<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50bf1045f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>Background Remover</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#home"> <img src="images/RemoveBackground.png"> </a>
            </div>
        </nav>
    </header>

    <main>
        <section id="home" class="hero">
            <h1>Remove Image Background</h1>
            <p>100% Automatically and Free</p>
            <button class="cta-btn"><a href="#write">Get Started <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></button>
        </section>

        <section class="features" id="feat">
            <div class="feature-grid">
              
                <div class="feature-card feature-nobk">
                    <img src="images/sampleimage.png" alt="No Background">
                </div>
            
                <div class="feature-card">
                    <form action="/erase" method="GET" class="image-content" id="image-content-id">
                        <img id ="uploaded-modified-image" style="display: none;" name="image-given">

                        <!-- upload image button -->
                        <label for="image_input" class="cta-btn-upload" id="cta-btn-upload-id">Upload</label>

                        <!-- Erase backgound button -->
                        <label type="submit" class="cta-btn-upload cta-btn-rmbk" id="cta-btn-erase">Erase BG</label>

                        <input type="file" id="image_input" name="image_input" style="display: none;">

                     </form>
                </div>
                
            </div>
        </section>   

        <section class="features" id="write">
            <div class="feature-grid">

        </section>  

    </main>
    <script src="/js/script.js"></script>
</body>
</html>