<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50bf1045f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>Background Remover</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#home"> <img src="images/RemoveBackground.png"> </a>
            </div>
        </nav>
    </header>

    <main>
        <section id="home" class="hero">
            <h1>Remove Image Background</h1>
            <p>100% Automatically and Free</p>
            <button class="cta-btn"><a href="#write">Get Started <i class="fa-solid fa-marker"></i> </a></button>
        </section>

        <section class="features" id="feat">
            <div class="feature-grid">
              
                <div class="feature-card feature-nobk">
                    <img src="images/sampleimage.png" alt="No Background">
                </div>
            
                <div class="feature-card">
                    <form action="/upload" method="POST" class="blog-content">
                           <button type="submit" class="cta-btn-upload">Upload</button>
                     </form>
                </div>
                
            </div>
        </section>   

        <section class="features" id="write">
            <div class="feature-grid">

        </section>  

    </main>
</body>
</html>