<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50bf1045f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>Background Remover</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#home"> <img src="images/RemoveBackground.png"> </a>
            </div>
        </nav>
    </header>

    <main>
        <section id="home" class="hero">
            <h1>Remove Image Background</h1>
            <p>100% Automatically and Free</p>
            <button class="cta-btn"><a href="#feat">Get Started Below</a></button>
        </section>

        <section class="features" id="feat">
            <div class="feature-grid">
              
                <div class="feature-card feature-nobk">
                    <img src="images/sampleimage.png" alt="No Background">
                </div>

                <div class="feature-btn">                 
                    <form action="/submit" method="POST" class="image-content" id="image-content-id" enctype="multipart/form-data">
                       <!-- upload image button -->
                       <label for="image_inputID" class="cta-btn-upload" id="cta-btn-upload-id">Upload</label>

                       <input type="file" id="image_inputID" name="image_inputName" style="display: none;">
                                           
                       <!-- Erase backgound button -->
                       <button type="submit" class="cta-btn-upload cta-btn-rmbk"  formaction="/erase">Erase BG</button> 

                       <label class="cta-btn-upload cta-btn-rmbk" id="cta-btn-download" onclick="imageDownload()">Download</label> 
                    </form>
                </div>
            
                <div class="feature-card feature-bkless">
                    <form class="image-content" id="image-content-id" enctype="multipart/form-data" >
                        <% if (!result) { %>
                        <img id ="uploaded-modified-image" style="display: none;" name="image-given" >

 
                        <% } else { %>
                            <p id="loading">⏳ Processing Image</p>
                            <img id ="download-modified-image" name="image-given" src= <%= result %> alt="Process failed! Please try again">
                            <div id="downloadImage"> </div>

                        <% } %>
                     </form>
                </div>
               
            </div>
        </section>  


    </main>
    <script src="/js/script.js"></script>
</body>
</html>